:root{
  --a:0;
}

* {
  
  margin: 0;
  padding: 0;
}

.flex{
    display: flex;
}

header{
    background-color: black;
    height: 60px;
    border: 3px solid black;

}
.home ul li{
    list-style: none;
    display: flex;
    width: 14px;
}

.homeicon{
    filter: invert(1);
    margin: 8px;
   display: flex;
    height: 28px;

}
.home{
    margin-top: 3px;
    display: flex;
}

.box1{
    height: 45px;
    width: 45px;
    margin-left: 20px;
    border-radius: 25px;
    background-color: rgba(128, 128, 128, 0.338);
}
.box2{
    
    display: flex;
    width: 400px;
    margin-left: 10px;
    border-radius: 25px;
    background-color: rgba(128, 128, 128, 0.338);

}
.box2:hover{
    background-color: rgba(128, 128, 128, 0.415);
    
 }
 .homeicon:hover{
    transform: scale(1.1);

 }
 #p5:hover{
    transform: scale(1.01);

    color: white;
 }
 #p6:hover{
    
    transform: scale(1.03);
 }
 #p4:hover{
    transform: scale(1.01);

    color: white;
 }
#p1:hover{
    transform: scale(1.01);
   color: white;
}
#p2:hover{
    transform: scale(1.01);

    color: white;
 }
 #p3:hover{
    transform: scale(1.01);

    color: white;
 }

.logo{
    height: 9px;
    margin: 8px;
}

.searchicon{
    filter: invert(1);
   
    margin-top: 11px;
    margin-left: 9px;
    height: 23px;

}

#searchbar{
   

    margin-right: 5px;
    color: rgba(255, 255, 255, 0.529);
    padding-top: 4px;
    background-color: transparent;
    border-color: transparent;
margin:  5px 5px 5px 10px;  
  width: 300px;
}


input::placeholder {
    
    
    font-size: 16px;
        color: rgba(255, 255, 255, 0.529);

    
  }
  .invert{
    filter: invert(1);

  }

  .navs {
    display: flex;
    width: 80px;

  }
  
  #p1{
    color: rgba(255, 255, 255, 0.529);
    font-weight: 900;
    padding-top: 14px;
    text-decoration: none;
    letter-spacing: 1px;
    margin-left: 425px;

  }
  
  #p2{
    font-weight: 900;
    color: rgba(255, 255, 255, 0.529);

    padding-top: 14px;
    text-decoration: none;
    letter-spacing: 1.5px;
    margin-left: 13px;
  }

  #p3{
    color: rgba(255, 255, 255, 0.529);

    font-weight: 900;

    padding-top: 14px;
    text-decoration: none;
    letter-spacing: 1.5px;
    margin-left: 13px;
  }

  #p4{
    color: rgba(255, 255, 255, 0.529);
    font-weight: 400;
    font-size: 14px;
    margin-top: 2px;
    margin-right: 10px;
    width: 70px;
    padding-top: 14px;
    text-decoration: none;
    margin-left: 50px;
    /* background-color: yellow; */
  }

  #p5{
    color: rgba(255, 255, 255, 0.529);

    font-weight: 400;
    font-size: 14px;
    margin-top: 2px;
    width: 60px;
/* background-color: blue; */
    padding-top: 14px;
    text-decoration: none;
    
    
  }

  #p6{
    width: 80px;
background-color: white;
    color: black;
    font-weight: 600;
    font-size: 14px;
    margin-top: 2px;
    padding-bottom: 14px;
    padding-top: 14px;
    text-decoration: none;
padding-left: 35px;  
border-radius: 55px;
margin-left: 15px;
  }
  

  
  
  #arrow{
    margin: 15px;
    width: 1.1vw;
  }

  h4{
    display: flex;
  }
.container2{
    display: flex;
}

body{
  
  overflow-x: hidden;
    background-color: black;
    color: white;
}

.left{
  
    border-radius: 8px;
    height: 660px;
    margin-left: 5px;
    width: 31vw;
    background-color: rgba(128, 128, 128, 0.155)
}


.heading{
   
    display: flex;
    
    align-items: center;
    padding-top: 14px;
}
.heading img{
    padding-left: 14px;
    width: 28px;
}
h4{
    padding-left: 10px;
    width: 100px;
   
}
#plus{
    display: flex;
    align-items: center;
    width: 18px;

    padding-left: 250px;
}

.main{
    background-color: black;
}

.leftside{
  
    margin: 5px ;
    height: 100px;
    border-radius: 9px;
    background-color: rgba(128, 128, 128, 0.325)
}
.left1{width: 90%;
    padding-top: 8px;
    display: flex;
    color: white;
    font-size: medium;
    font-weight: 600;
    margin-left: 16px;
    margin-top: 30px;
    /* background-color: red; */
}
h5{
   font-weight: 550;
    display: flex;
    color: rgba(255, 255, 255, 0.859);
    padding-bottom: 15px;
    margin-left: 18px;
    margin-top: 7px;

}
#btnplaylist{
    
    font-size: small;
    font-weight: 700;
    text-decoration: none;
    color: black;
  background-color: white;
  margin: 50px 0px 0px 25px;
  padding: 6px;
  border-radius: 80px;
  }
  #btnpodcasts{
    font-size: smaller;
    font-weight: 600;
    text-decoration: none;
    color: black;
  background-color: white;
  margin: 50px 0px 0px 25px;
  padding: 7px;
  border-radius: 80px;

  }

 

  .footer {
    
    background-color: rgba(0, 0, 0, 0.89);
    display: flex;
    width: 95%;
    height: 40px;
    
    margin-top: 90px;
    display: flex;
    gap: 15px;
    
    }

  .footer a{
   padding-left: 5px;
    color: gray;
    
    font-size: 12px;
    display: flex;
    text-decoration: none;
  }

  .footer a:hover{
    text-decoration: underline;
  }

  #langicon{
   
    
    width: 17px;
    
  }

  .langbox{
    
    border: 1px solid white;
    
    margin-left: 30px;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    display: flex;
   height: 35px;
        width: 110px;
        background-color: rgba(0, 0, 0, 0.89)
        
        
      }
      .langbox a{
        text-decoration: none;
        color: white;
      }
      .langbox:hover{
        transform: scale(1.1);
        color: white;
      }

      .right{
        height: 100%;
        margin-left: 10px;
        width: 69vw;
        border-radius: 8px;
       /* border: 3px solid red; */
       background-color: rgba(128, 128, 128, 0.237);
        
      }
h1{
    font-weight: 700;
     padding: 17px;
}
.spotifyplaylists{
  justify-content: space-between;
  display: flex;
}
.spotifyplaylists h2:hover{
  text-decoration: underline;

}
.spotifyplaylists h2{
  font-weight: 500;
   padding: 17px;
}
.cardcontainer{
  max-height: 70vh;
  overflow-y: scroll;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}
.card{
  cursor: pointer;
  margin: 10px;
  position: relative;
  border-radius: 8px;
padding: 10px;
  width: 250px;
  background-color: rgba(128, 128, 128, 0.186);
}
.card:hover{
  --a:1;
  transition: 0.5s ease-in-out;
  background-color: rgba(128, 128, 128, 0.493);
}

.card h2{
  font-weight: 800;
  padding: 1px;
}
.card p{
  font-size: 14px;
  font-style: italic;
}
   
.card img{
  border-radius: 8px;
 object-fit: contain;
  width: 100%;
  
}
.play svg{
  padding: 8px;
  

}
.play{
  cursor: pointer;
  padding: 8px;
  padding-bottom: 4px;
  border-radius: 40px;
  background-color: #3be276;
  position: absolute;
  left: 194px;
  top: 198px;
  opacity: var(--a);
  transition: all 0.3s ease-out;
  
}

.play:hover{
  opacity: 1;
}

.playbar{
 height: 80px;
 overflow-y: hidden;
 margin-top: 8px;
 margin-left: 10px;
  display: flex;
  justify-content: center;
  
  width: 67%;
  border-radius: 25px;
  background-color: rgba(134, 136, 132, 0.312);
  position: absolute;
  
}
.playbar img{
  
  width: 35px;
  margin-top: 15px;
  padding: 18px;
}
.songList{
  list-style-type: none;
  margin-top: 5px;
 height: 444px;
  overflow: auto;
}

.songList ul{
  
  cursor: pointer;
  margin: 14px;
  /* padding: 0px 43px; */

}
.songList ul li{
  justify-content: space-between;
  display: flex;
  gap: 10px;
  padding: 12px;
  
  border: 1px solid rgb(85, 82, 82);
  margin: 4px;
  border-radius: 6px;
}

.playnow{
  
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.seekbar{
  cursor: pointer;
  padding-right: 2px;
  height: 4px;
  border: 1px solid white;
  margin-top: 18px;
 margin-left: 10px;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 67%;
  border-radius: 25px;
  position: absolute;
  background-color: black;
  
}

.circle{
  cursor: pointer;
  position: absolute;
  height: 3px;
  border: 1px solid white;
  
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 0%;
  border-radius: 25px;
  position: absolute;
  background-color: white;
  left: 0;
  transition: left 0.5s;

}
.info{
  font-size: small;
width: 100%;
}

.playbuttons{
  cursor: pointer;
}

.songinfo, .songtime{
  font-style: italic;
  color: whitesmoke;
  position: absolute;
}

.songinfo{
 
  padding: 0px 0px 20px 0px;
  left: 35px;
  bottom: 0px;
}

.songtime{
  padding: 20px;
  right: 30px;
  bottom: 0px;

}



/* 

@media (max-width: 800px) {

  .left{
    background-color: red;
    
  }
  .navs{
    width: 0px;
  
  }
  #p1, #p2, #p3{
    padding-left: 3px;
    margin: 0px;
  }
  
  .container2{
    margin-left: ;
  }
} */

